.next
.docker
.github
.vscode
.yarn-cache
.dockerignore
.eslintrc.js
build
coverage
node_modules
next-env.d.ts
*.json
*.config.js
jest.*.js
sentry.client.config.js
sentry.server.config.js
server.js
cypress
lib/
